.stranica{
    margin-top: 10vh;
    display: flex;
    align-items: center;
}
#rezervacije-wrapper{
    margin: 0 auto;
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#sledeci-koncert{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
    width: 60%;
}
#slika-mesta{
    width: 100%;
    height: auto;
    border-radius: 20px;
}
#meni-rezervacije{
    height: 50%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#forma-i-rss{
    height: 50%;
}
#cena{
    background-color: #CE2E28;
    border-radius: 10px;
}
#brKarata{
    color: black;
    width: 100%;
    height: 20%;
    border: 0px;
    font-size: 20px;
    border-radius: 10px;
}
#forma-i-rss input{
    border-radius: 10px;
}
#rss-holder{
    display: flex;
    flex-direction: column;
}
#rss{
    border-radius: 20px;
    text-align: center;
    width: 20%;
    background-color: orange;
}
input{
    padding: 5px;
}
input[type=submit]{
    border: 0px;
    width: 50%;
    height: 30%;
    background-color:#CE2E28;
    font-size: 20px;
    border-radius: 20px;
    padding: 5px;
}
input[type=submit]{
    cursor: pointer;
}
#email{
    width: 100%;
    color: black;
}
#forma{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
footer{
    position: absolute;
    bottom: 0%;
}